.About {
    min-height: 84.5vh;
    background-color: var(--color1);
    padding: 20px;
    display: flex;
}

.yoImage {
    height: 430px;
    width: 430px;
    border-radius: 10px;
    padding: 5px;
}

.Name {
    font-weight: 800;
    font-size: 20px;
    max-width: 200px;
    color: var(--color3);
    padding: 5px;
}

.yoContainer img {
    margin-right: 18px;
    padding: 5px;
}

.link {
    font-weight: 100;
    font-size: 20px;
    max-width: 50px;
    color: var(--color4);
    padding: 5px;
}
